
body {
        width: 700px;
        margin: 0 auto;
        font: 62.5%/1em 'Verdana', sans-serif;
}

h1 {
        height: 100px;
        width: 271px;

        margin: 0;
        background-image: url('../images/stl.png');

        float: left;
}

h1 span {
        display: none;
}

h2 {
        height: 100px;
        width: 400px;
        float: right;

        margin: 0;
}

div#header {
        background: transparent url('../images/grad.png') repeat-y ;
}

div#navigation {
        clear: both;

        text-align: center;
        padding: 6px;

        background-color: #036;
}

div#navigation ul {
        margin: 0;
        padding: 0;

        font-size: 1.2em;
}

div#navigation li {
        display: inline;
        padding: 3px 5px;
        margin: 0 2px;
}

div#navigation a {
        text-decoration: none;
        color: #fff;
}

div#navigation a:hover {
        text-decoration: underline;
}

a#concert {
  display: block;
  background-color: #c0ccd7;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  border: 2px dashed #036;
  font-size: 1.2em;
  color: #036;
}

div#content {
        width: 480px;
        float: left;
        padding: 0 10px;
}

div#content th {
        text-align: left
}

div#content td {
        vertical-align: top;
}

div#content h3 {
        font: 2.0em/1.0em 'Georgia', serif;

        border-bottom: 1px solid #036;
        margin: 0;
        padding: 0.5em;
}

div#content th {
        font-family: 'Georgia', serif;
        font-size: 1.1em;
}

div#content p {
        font-size: 1.2em;
        line-height: 1.8em;
}

div#content form {
        margin: 0;
        padding: 0;
}

div#content table {
        font-size: 1.2em;
        line-height: 1.4em;
}

div#content p img {
        margin: 5px 15px;
        padding: 5px;
        border: 1px solid #333;
        float: right;
}

div#ads {
        text-align: center;
        width: 200px;
        float: right;
        margin: 0;
}

div#ads ul {
        margin: 0;
        padding: 0;
        list-style: none;
}
